@charset "UTF-8";
/* quy ước chung cho team để code

1. Khai báo class cho các thành phần 
    header -> class `header__`
    footer -> class `footer__` 
    index -> class `index__`
    cart -> class `cart__`
    login/resgister -> class`log__`
    products -> class`products__`
    details -> class`details__`
*/
/*  
    1rem = 10px
*/
/* setup */
/* end: setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font chữ mặc định là 10px */
  line-height: 1.6;
  /* chiều cao của chữ là 1.6 */
  font-family: "Fira Sans", sans-serif;
  /* chữ chung là poppin */
}

html::-webkit-scrollbar {
  width: 0.6rem;
  /* chiều rộng rộng 6px */
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /*màunềncủathanhcuộn*/
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
  /* màu nền của thanh cuộn */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

ul,
li {
  list-style: none;
  /* loại bỏ dấu chấm */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* loại bỏ gạch chân */
}

.icon {
  font-size: 1.6rem;
  /* kích thước icon */
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  color: #606060;
}

a,
a::before,
a::after,
i,
button,
img,
input,
*::before,
*::after {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: 0px solid;
}

a:focus {
  color: #303030;
  outline: medium none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 15.4rem;
}

/* header */
.header__container {
  z-index: 999;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
}
.header__container .header__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 4.8rem;
  background-color: #303030;
}
.header__container .header__navbar .header__top-lanuage-cur {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li {
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li .header__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu {
  display: none;
  position: absolute;
  top: calc(100% + 1.4rem);
  left: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
  width: 12.5rem;
  padding: 1.2rem 0;
}
.header__container .header__navbar .header__sub-menu::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  height: 3rem;
  width: 100%;
}
.header__container .header__navbar .header__sub-menu li {
  padding: 0 1.2rem;
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__navbar .header__sub-menu li:hover {
  background-color: rgba(48, 48, 48, 0.3);
}
.header__container .header__navbar .header__sub-menu li:hover a {
  color: #c0392b;
}
.header__container .header__navbar .header__sub-menu a {
  padding: 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.header__container .header__navbar .header__sub-menu::after.login {
  right: 0;
}
.header__container .header__navbar .header__sub-menu.login {
  width: 15rem;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login .header__log {
  padding: 0 1.2rem;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn {
  display: inline-block;
  width: 100%;
  margin: 0.8rem 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-login {
  background-color: #303030;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-register {
  border: 0.1rem solid #303030;
  color: #303030;
}
.header__container .header__navbar .header__top-controll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item {
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link:hover .header__top-sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-menu-list.cart {
  z-index: 10;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link {
  margin-right: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link i {
  font-size: 2.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu {
  right: 0;
  left: unset;
  width: 23rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu li:not(:last-child) {
  margin-bottom: 0.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__mini {
  display: inline-block;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link img {
  width: 5rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list {
  flex: 1;
  margin-left: 1rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  margin: 0.4rem 0 0.8rem;
  overflow: hidden;
  line-height: 1.8rem;
  height: 3.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__container .header__bottom {
  height: 10.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
}
.header__container .header__bottom .header__menu-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list li {
  position: relative;
  margin-right: 3.2rem;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #303030;
  padding: 0.8rem 0.8rem 0.8rem 0;
  font-weight: 500;
  display: inline-block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover .header__bottom-sub-menu {
  display: block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 50%;
  background-color: #303030;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover::after {
  width: 100%;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input {
  flex: 1;
  border: none;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #30308d;
  border-bottom: 0.1rem solid #303030;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::-moz-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:-ms-input-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:focus {
  border-bottom: 0.1rem solid #c0392b;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive {
  display: none;
  position: relative;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive .header__menu-responsive-btn {
  text-align: center;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive .header__menu-responsive-list {
  position: absolute;
  top: calc(100% + 4.4rem);
  right: 0;
  left: 0;
  background-color: #303030;
}

/* footer */
.footer__container {
  margin-top: 15.4rem;
  /* footer brands */
  /* footer info */
}
.footer__container .footer__brands {
  height: 6.8rem;
  padding: 1rem 0;
  margin: 4rem 0;
  background-color: #fff;
}
.footer__container .footer__brands-item {
  height: 100%;
  text-align: center;
}
.footer__container .footer__brand-img {
  height: 6.8rem;
  width: 13.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.footer__container .footer__info {
  background-color: #f8f8f8;
  padding: 8rem 3.2rem;
}
.footer__container .footer__info-info {
  margin-bottom: 1.6rem;
}
.footer__container .footer__info-list {
  margin-top: 2.2rem;
}
.footer__container .footer__info-img {
  width: 8.4rem;
}
.footer__container .footer__info-title {
  font-weight: 500;
  color: #303030;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer__container .footer__info-title.info {
  font-size: 1.4rem;
}
.footer__container .footer__info-desc {
  font-size: 1.4rem;
  color: #303030;
}

/* mega menu */
.header__menu-responsive-list.active {
  display: none;
}

/* code css phần index */
.index__container {
  overflow: hidden;
  background-color: #f8f8f8;
  /* index shipping */
}
.index__container .index__banner-list .index__banner-item {
  position: relative;
  padding-top: 50%;
  background-image: url("../images/slider/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.index__container .index__banner-list .index__banner-item .index__banner-body {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.index__container .index__banner-list .index__banner-item .index__banner-title {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 3.8rem;
}
.index__container .index__banner-list .index__banner-item .index__banner-desc {
  text-shadow: 0.1rem 0.1rem 0.2rem #fff;
  margin-bottom: 3.8rem;
}
.index__container .index__banner-list .index__banner-item .index__banner-desc p {
  font-size: 6rem;
  font-weight: 900;
  color: #303030;
}
.index__container .index__banner-list .index__banner-item .index__banner-desc span {
  font-size: 2.4rem;
  font-weight: 400;
}
.index__container .index__banner-list .index__banner-item .index__banner-btn {
  padding: 0.8rem 3.2rem;
  background-color: #c0392b;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  cursor: pointer;
}
.index__container .index__shipping {
  height: 20rem;
  border-bottom: 0.1rem solid #ddd;
}
.index__container .index__shipping .index__shipping-item {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.index__container .index__shipping .index__shipping-item:not(:last-child) {
  border-right: 1px solid #ddd;
}
.index__container .index__shipping .index__shipping-item .icon {
  margin-right: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #c0392b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.index__container .index__shipping .index__shipping-item .index__shipping-body h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #303030;
  text-transform: uppercase;
}
.index__container .index__shipping .index__shipping-item .index__shipping-body p {
  font-size: 1.2rem;
  color: #303030;
  opacity: 0.8;
}

/* code css phần product (phần danh sách sản phẩm) */
/* code css phần details(sản phẩm chi tiết) */
.detail__body {
  color: #606060;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  visibility: visible;
}

/* code css phần cart */
/* code css phần login */
/* code css phần register */
/* ---- end ---- */
/* responsive */
/* tablet nomal destop: 992px */
/* tablet && mobile */
@media (max-width: 991px) {
  .main-wrapper {
    overflow: hidden;
  }
  .header__container .header__bottom .header__menu-bottom .header__menu-bottom-list {
    display: none;
  }
  .header__container .header__bottom .header__menu-bottom .header__menu-responsive {
    display: block;
  }
  .header__menu-responsive-list {
    max-width: 100%;
    background-color: #303030;
    color: #fff;
    z-index: 999;
    position: fixed;
    top: 15.4rem;
    left: 0;
    right: 0;
    box-shadow: 0.2rem 0.2rem 0.4rem #303030;
    animation: hideShowMenu 0.2s ease-in;
    -webkit-animation: hideShowMenu 0.2s ease-in;
    -moz-animation: hideShowMenu 0.2s ease-in;
    -ms-animation: hideShowMenu 0.2s ease-in;
    -o-animation: hideShowMenu 0.2s ease-in;
  }
  .header__menu-responsive-list.active {
    display: none;
  }
  .header__menu-responsive-list .header__menu-responsive-link {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    padding: 0.8rem 4%;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    color: #303030;
  }
  .header__menu-responsive-list .header__menu-responsive-link:last-child {
    border-bottom: 1px solid #303030;
  }
  .header__menu-responsive-list .header__menu-responsive-link:hover {
    background-color: #303030;
    color: #fff;
  }
  .footer__info-item {
    margin-top: 3.6rem;
  }
  .header__menu-responsive-item-cart {
    display: none;
  }
}
/* tablet desktop: 768px */
/* mobile */
@media (max-width: 767px) {
  .header__navbar {
    display: none !important;
  }
  .header__bottom .header__search {
    display: none;
  }
  .header__bottom .header__menu-bottom {
    justify-content: space-between !important;
  }
  .header__bottom .header__menu-bottom .header__menu-responsive {
    margin-right: 1.6rem;
  }
  .header__bottom .header__menu-bottom .header__menu-responsive .icon {
    font-size: 2rem;
  }
  .header__menu-responsive-list {
    top: 10.6rem;
  }
  .header__menu-responsive-item-cart {
    display: block;
  }
}
/* @keyframe */
@-webkit-keyframes hideShowMenu {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
@keyframes hideShowMenu {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}/*# sourceMappingURL=style.css.map */