@charset "UTF-8";
/* quy ước chung cho team để code

1. Khai báo class cho các thành phần 
    header -> class `header__`
    footer -> class `footer__` 
    index -> class `index__`
    cart -> class `cart__`
    login/resgister -> class`log__`
    products -> class`products__`
    details -> class`details__`
*/
/*  
    1rem = 10px
*/
/* setup */
/* end: setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font chữ mặc định là 10px */
  line-height: 1.6;
  /* chiều cao của chữ là 1.6 */
  font-family: "Fira Sans", sans-serif;
  /* chữ chung là poppin */
}

html::-webkit-scrollbar {
  width: 0.6rem;
  /* chiều rộng rộng 6px */
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /*màunềncủathanhcuộn*/
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
  /* màu nền của thanh cuộn */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

ul,
li {
  list-style: none;
  /* loại bỏ dấu chấm */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* loại bỏ gạch chân */
}

.icon {
  font-size: 1.6rem;
  /* kích thước icon */
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  color: #606060;
}

a,
a::before,
a::after,
i,
button,
img,
input,
*::before,
*::after {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: 0px solid;
}

a:focus {
  color: #303030;
  outline: medium none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 15.4rem;
}

/* header */
.header__container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
}
.header__container .header__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 4.8rem;
  background-color: #303030;
}
.header__container .header__navbar .header__top-lanuage-cur {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li {
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li .header__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu {
  display: none;
  position: absolute;
  top: calc(100% + 1.4rem);
  left: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
  width: 12.5rem;
  padding: 1.2rem 0;
}
.header__container .header__navbar .header__sub-menu::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  height: 3rem;
  width: 100%;
}
.header__container .header__navbar .header__sub-menu li {
  padding: 0 1.2rem;
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__navbar .header__sub-menu li:hover {
  background-color: rgba(48, 48, 48, 0.3);
}
.header__container .header__navbar .header__sub-menu li:hover a {
  color: #c0392b;
}
.header__container .header__navbar .header__sub-menu a {
  padding: 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.header__container .header__navbar .header__sub-menu::after.login {
  right: 0;
}
.header__container .header__navbar .header__sub-menu.login {
  width: 15rem;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login .header__log {
  padding: 0 1.2rem;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn {
  display: inline-block;
  width: 100%;
  margin: 0.8rem 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-login {
  background-color: #303030;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-register {
  border: 0.1rem solid #303030;
  color: #303030;
}
.header__container .header__navbar .header__top-controll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item {
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link:hover .header__top-sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-menu-list.cart {
  z-index: 10;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link {
  margin-right: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link i {
  font-size: 2.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu {
  right: 0;
  left: unset;
  width: 23rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu li:not(:last-child) {
  margin-bottom: 0.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__mini {
  display: inline-block;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link img {
  width: 5rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list {
  flex: 1;
  margin-left: 1rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  margin: 0.4rem 0 0.8rem;
  overflow: hidden;
  line-height: 1.8rem;
  height: 3.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__container .header__bottom {
  height: 10.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
}
.header__container .header__bottom .header__menu-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list li {
  position: relative;
  margin-right: 3.2rem;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #303030;
  padding: 0.8rem 0.8rem 0.8rem 0;
  font-weight: 500;
  display: inline-block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover .header__bottom-sub-menu {
  display: block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 50%;
  background-color: #303030;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover::after {
  width: 100%;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input {
  flex: 1;
  border: none;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #30308d;
  border-bottom: 0.1rem solid #303030;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::-moz-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:-ms-input-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:focus {
  border-bottom: 0.1rem solid #c0392b;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive {
  display: none;
  position: relative;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive .header__menu-responsive-btn {
  text-align: center;
}
.header__container .header__bottom .header__menu-bottom .header__menu-responsive .header__menu-responsive-list {
  position: absolute;
  top: calc(100% + 4.4rem);
  right: 0;
  left: 0;
  background-color: #303030;
}

/* footer */
.footer__container {
  margin-top: 15.4rem;
  /* footer brands */
  /* footer info */
}
.footer__container .footer__brands {
  height: 6.8rem;
  padding: 1rem 0;
  margin: 4rem 0;
  background-color: #fff;
}
.footer__container .footer__brands-item {
  height: 100%;
  text-align: center;
}
.footer__container .footer__brand-img {
  height: 6.8rem;
  width: 13.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.footer__container .footer__info {
  background-color: #f8f8f8;
  padding: 8rem 3.2rem;
}
.footer__container .footer__info-info {
  margin-bottom: 1.6rem;
}
.footer__container .footer__info-list {
  margin-top: 2.2rem;
}
.footer__container .footer__info-img {
  width: 8.4rem;
}
.footer__container .footer__info-title {
  font-weight: 500;
  color: #303030;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer__container .footer__info-title.info {
  font-size: 1.4rem;
}
.footer__container .footer__info-desc {
  font-size: 1.4rem;
  color: #303030;
}

/* code css phần index */
/* code css phần product (phần danh sách sản phẩm) */
/* code css phần details(sản phẩm chi tiết) */
/* code css phần cart */
/* code css phần login */

/* code giao diện phần login*/

/*khai báo biến*/
:root {
  /* khai báo màu*/
  --pink1-color : #ffccff;
  --pink2-color : #ff66ff;
  --pink3-color : #ff1aff;

  --red1-color : #ffcccc;
  --red2-color : #ff6666;
  --red3-color : #e65235;
  --red4-color : #ff3333;

  --yellow1-color: #ffffcc;
  --yellow2-color: #ffff66;
  --yellow3-color: #cc9900;

  --green1-color : #ccffcc;
  --green2-color : #66ff66;
  --green3-color : #009933;

  --white-color : white;

  --aqua1-color : #ccffff;
  --aqua2-color : #00ffff;
  --aqua3-color : #0088cc;

  --violet1-color : #ccccff;
  --violet2-color : #9999ff;
  --violet3-color : #9933ff;

  --blue1-color : #33ccff;
  --blue2-color : #0099cc;
  --blue3-color : #003566;
  --blue4-color : #241f40;
  --blue5-color : #0b0624;

  /*khai báo font*/
  --font-size : 400;

}
.log__container {
  width: 100%;
  height: 100vh;
  padding: 15rem;
  background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
}

.log__main {
  width: 35rem;
  height: 30rem;
  margin: 0 auto;
  padding: 5rem;
  background: var(--blue5-color);
  box-shadow: 0.2rem 0.7rem 1rem var(--pink2-color);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}

.log__box {
  width: 100%;
  height: 6rem;
  margin: 0.7rem 0;
}

.log__title {
  color: var(--aqua2-color);
  font-size: 1.4rem;
  /* padding: 0.2rem 0; */
  width:100%;
}

.log__title:hover {
  color: var(--yellow2-color);
}

.log__input {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background: var(--blue5-color);
  border: none;
  border-bottom: 0.15rem solid var(--aqua1-color);
  color: var(--aqua1-color);
}

.log__sub {
  background: var(--blue5-color);
  border: 0.2rem solid var(--green1-color);
  border-radius: 1.5rem;
  padding: 0.6rem 2.5rem;
  color: var(--aqua1-color);
  margin-top: 1rem;
  margin-bottom:0.8rem;
}

.log__sub:hover {
  background: var(--aqua1-color);
  color: var(--blue5-color);
}

.log__a {
  font-size: 1.4rem;
  color: var(--aqua1-color);
}

.log__a:hover {
  color:var(--red3-color);
  text-decoration: underline;
}

/*reponsive tablet*/
@media all and (max-width:76.8rem)  {
  .log__container {
    width: 100%;
    height: 100vh;
    padding: 15rem 3rem;
    background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
  }
  .log__main {
    width: 35rem;
    height: 30rem;
    padding: 1rem;
    background: var(--blue5-color);
    box-shadow: 0.2rem 0.5rem 1rem var(--pink2-color);
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    border-radius: 1.7rem;
  }
}

/*reponsive phoneX*/
@media all and (max-width:38rem) {
  .log__container {
    width: 100%;
    height: 100vh;
    padding: 15rem 3rem;
    background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
  }
  .log__main {
    width: 22rem;
    height: 24rem;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem var(--pink2-color);
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    border-radius: 1.7rem;
  }
  .log__input {
    width: 100%;
    margin: 0 auto;
    padding: 0.4rem 1rem;
    background: var(--blue5-color);
    border: none;
    border-bottom: 0.1rem solid var(--aqua1-color);
    color: var(--aqua1-color);
  }
  .log__sub {
    padding: 0.5rem;
    width: 100%;
  }
  .log__a {
    text-align: center;
  }
}

/* code css phần register */
/* code css phần register */

.regis__container {
  width: 100%;
  height: 100vh;
  padding: 7rem;
  background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
}

.regis__main {
  width: 45rem;
  height: 40rem;
  margin: 0 auto;
  padding: 5rem;
  background: var(--blue5-color);
  box-shadow: 0.2rem 0.7rem 1rem var(--pink2-color);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}

.regis__box {
  width: 100%;
  height: 6rem;
  margin: 0.5rem 0;
}

.regis__title {
  color: var(--aqua2-color);
  font-size: 1.4rem;
  /* padding: 0.2rem 0; */
  width:100%;
}

.regis__title:hover {
  color: var(--yellow2-color);
}

.regis__input {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background: var(--blue5-color);
  border: none;
  border-bottom: 0.15rem solid var(--aqua1-color);
  color: var(--aqua1-color);
}

.regis__sub {
  background: var(--blue5-color);
  border: 0.2rem solid var(--green1-color);
  border-radius: 1.5rem;
  padding: 0.6rem 2.5rem;
  color: var(--aqua1-color);
  margin-top: 1rem;
  margin-bottom:0.8rem;
}

.regis__sub:hover {
  background: var(--aqua1-color);
  color: var(--blue5-color);
}

/*reponsive tablet*/
@media all and (max-width:76.8rem)  {
  .regis__container {
    width: 100%;
    height: 100vh;
    padding: 7rem 3rem;
    background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
  }
  .regis__main {
    width: 45rem;
    height: 40rem;
    padding: 1rem;
    background: var(--blue5-color);
    box-shadow: 0.2rem 0.5rem 1rem var(--pink2-color);
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    border-radius: 1.7rem;
  }
}

/*reponsive phoneX*/
@media all and (max-width:38rem) {
  .regis__container {
    width: 100%;
    height: 100vh;
    padding: 10rem 3rem;
    background: linear-gradient(to top , var(--green2-color),var(--aqua2-color));
  }
  .regis__main {
    width: 29rem;
    height: 36rem;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem var(--pink2-color);
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    border-radius: 1.7rem;
  }
  .regis__input {
    width: 100%;
    margin: 0 auto;
    padding: 0.4rem 1rem;
    background: var(--blue5-color);
    border: none;
    border-bottom: 0.1rem solid var(--aqua1-color);
    color: var(--aqua1-color);
  }
  .regis__sub {
    padding: 0.5rem;
    width: 100%;
  }
}

/* ---- end ---- *//*# sourceMappingURL=style.css.map */

/* ---- end ---- *//*# sourceMappingURL=style.css.map */