@charset "UTF-8";
/* quy ước chung cho team để code

1. Khai báo class cho các thành phần 
    header -> class `header__`
    footer -> class `footer__` 
    index -> class `index__`
    cart -> class `cart__`
    login/resgister -> class`log__`
    products -> class`products__`
    details -> class`details__`
*/
/*  
    1rem = 10px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font chữ mặc định là 10px */
  line-height: 1.6;
  /* chiều cao của chữ là 1.6 */
  font-family: "Fira Sans", sans-serif;
  /* chữ chung là poppin */
}

html::-webkit-scrollbar {
  width: 0.6rem;
  /* chiều rộng rộng 6px */
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /*màunềncủathanhcuộn*/
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
  /* màu nền của thanh cuộn */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

ul,
li {
  list-style: none;
  /* loại bỏ dấu chấm */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* loại bỏ gạch chân */
}

.icon {
  font-size: 1.6rem;
  /* kích thước icon */
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  color: #606060;
}

a,
a::before,
a::after,
i,
button,
img,
input,
*::before,
*::after {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

*:focus {
  outline: 0px solid;
}

a:focus {
  color: #303030;
  outline: medium none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* setup */
/* end: setup */
html {
  scroll-padding-top: 15.4rem;
}

/* header */
.header__container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
}
.header__container .header__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 4.8rem;
  background-color: #303030;
}
.header__container .header__navbar .header__top-lanuage-cur {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li {
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-lanuage-cur .heade__lan-cur li .header__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu {
  display: none;
  position: absolute;
  top: calc(100% + 1.4rem);
  left: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem #303030;
  width: 12.5rem;
  padding: 1.2rem 0;
}
.header__container .header__navbar .header__sub-menu::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  height: 3rem;
  width: 100%;
}
.header__container .header__navbar .header__sub-menu li {
  padding: 0 1.2rem;
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__navbar .header__sub-menu li:hover {
  background-color: rgba(48, 48, 48, 0.3);
}
.header__container .header__navbar .header__sub-menu li:hover a {
  color: #c0392b;
}
.header__container .header__navbar .header__sub-menu a {
  padding: 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.header__container .header__navbar .header__sub-menu::after.login {
  right: 0;
}
.header__container .header__navbar .header__sub-menu.login {
  width: 15rem;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  text-align: center;
}
.header__container .header__navbar .header__sub-menu.login .header__log {
  padding: 0 1.2rem;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn {
  display: inline-block;
  width: 100%;
  margin: 0.8rem 0;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-login {
  background-color: #303030;
  color: #fff;
}
.header__container .header__navbar .header__sub-menu.login .header__log-btn.btn-register {
  border: 0.1rem solid #303030;
  color: #303030;
}
.header__container .header__navbar .header__top-controll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item {
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-item:hover .header__sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 3.2rem;
  position: relative;
}
.header__container .header__navbar .header__top-controll .header__top-menu-list .header__top-menu-link:hover .header__top-sub-menu {
  display: block;
}
.header__container .header__navbar .header__top-menu-list.cart {
  z-index: 10;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link {
  margin-right: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__top-menu-link i {
  font-size: 2.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu {
  right: 0;
  left: unset;
  width: 23rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu li:not(:last-child) {
  margin-bottom: 0.4rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__mini {
  display: inline-block;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-link img {
  width: 5rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list {
  flex: 1;
  margin-left: 1rem;
}
.header__container .header__navbar .header__top-menu-list.cart .header__sub-menu .cart__item-menu-list h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
  margin: 0.4rem 0 0.8rem;
  overflow: hidden;
  line-height: 1.8rem;
  height: 3.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__container .header__bottom {
  height: 10.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
}
.header__container .header__bottom .header__menu-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list li {
  position: relative;
  margin-right: 3.2rem;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #303030;
  padding: 0.8rem 0.8rem 0.8rem 0;
  font-weight: 500;
  display: inline-block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover .header__bottom-sub-menu {
  display: block;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 50%;
  background-color: #303030;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__container .header__bottom .header__menu-bottom .header__menu-bottom-list .header__menu-bottom-link:hover::after {
  width: 100%;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input {
  flex: 1;
  border: none;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #30308d;
  border-bottom: 0.1rem solid #303030;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::-moz-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:-ms-input-placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input::placeholder {
  color: #30308d;
}
.header__container .header__bottom .header__menu-bottom .header__search .header__search-input:focus {
  border-bottom: 0.1rem solid #c0392b;
}

/* footer */
.footer__container {
  margin-top: 15.4rem;
  /* footer brands */
  /* footer info */
}
.footer__container .footer__brands {
  height: 6.8rem;
  padding: 1rem 0;
  margin: 4rem 0;
  background-color: #fff;
}
.footer__container .footer__brands-item {
  height: 100%;
  text-align: center;
}
.footer__container .footer__brand-img {
  height: 6.8rem;
  width: 13.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.footer__container .footer__info {
  background-color: #f8f8f8;
  padding: 8rem 3.2rem;
}
.footer__container .footer__info-info {
  margin-bottom: 1.6rem;
}
.footer__container .footer__info-list {
  margin-top: 2.2rem;
}
.footer__container .footer__info-img {
  width: 8.4rem;
}
.footer__container .footer__info-title {
  font-weight: 500;
  color: #303030;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer__container .footer__info-title.info {
  font-size: 1.4rem;
}
.footer__container .footer__info-desc {
  font-size: 1.4rem;
  color: #303030;
}

/* code css phần index */
/* code css phần product (phần danh sách sản phẩm) */
/* code css phần details(sản phẩm chi tiết) */
.detail__body {
  color: #606060;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  visibility: visible;
}

.detail__container {
  margin-top: 154px;
  background: #f8f8f8;
  padding: 74px 0;
  width: 100%;
}

.detail__container h5 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 12px;
  text-transform: uppercase;
}

.detail__wrap-box {
  width: 89%;
  margin: 0 auto;
}

.detail__product-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail__product-image {
  width: 50%;
  padding: 0 15px;
}
.detail__product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail__product-content {
  flex: 1;
  padding: 0 15px;
}

.detail__product-title {
  color: #303030;
  display: block;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 12px;
  margin-bottom: 30px;
  text-transform: uppercase;  
  width: 100%;
}

.detail__product-title:hover {
  color: #f05a66;
}

.detail__product-price {
  margin-bottom: 38px;
}

.detail__product-wrap-price .detail__product-price-new {
  color: #303030;
  font-size: 1.8rem;
  font-weight: 800;
  margin-right: 11px;
}

.detail__product-wrap-price .detail__product-price-old {
  color: #909090;
  font-size: 1.4rem;
  position: relative;
  padding: 0 5px 0 4px;
}

.detail__product-wrap-price .detail__product-price-old::before {
  background: #909090;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 100%;
}

.detail__product-overview {
  margin-bottom: 30px;
}

.detail__product-overview p{
  font-weight: 300;
  margin-top: 14px;
}

.detail__product-size {
  margin-bottom: 30px;
  overflow: hidden
}

.detail__product-size a {
  border: 1px solid #eeeeee;
  color: #303030;
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 36px;

}

.detail__product-size a:hover {
  border-color: #f05a66;
}

.detail__product-color-quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.detail__product-color {
  width: 50%;
}

.detail__product-color .detail__product-color-active {
  border: 6px solid #fff;
  outline: 1px solid #303030;
  outline-offset: -1px;
  overflow: hidden;
}

.detail__product-wrap-color {
  display: flex;
  flex-wrap: nowrap;
}

.detail__product-color a {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  text-indent: -999999px;
  width: 36px;
}


.detail__product-quantity {
  width: 50%;
}

.detail__product-wrap-quantity {
  border: 1px solid #eee;
  width: 84px;
  height: 40px;
}

.detail_product-input-plus-minus {
  background: transparent none repeat 0 0;
  border-color: #eee;
  border-style: solid;
  border-width: 0 1px 0 0;
  color: #303030;
  float: left;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 54px;
}

.detail__product-wrap-quantity .btnqty {
  font-size: 1rem;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 28px;
  height: 18px;
}

.detail__product-action {
  margin-bottom: 38px;
}

.detail__product-action-btn {
  background-color: #f05a66;
  border: 1px solid #eee;
  color: #606060;
  display: block;
  float: left;
  height: 37px;
  min-width: 40px;
}

.detail__product-action-btn.btn-text {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 20px;
}

.detail__product-action-btn.btn-text:hover {
  background: transparent;
  color: #f05a66;
  border-color: #f05a66;
}

.detail__reviews-description {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 31px 32px;
  margin: 30px 15px;
}

.detail__tablist-container {
  margin-bottom: 25px;
}

.detail__tablist-container li {
  display: inline-block;
  margin-right: 43px;
  padding-bottom: 11px;
  position: relative;
}

.detail__tablist-container li::before {
  background: #303030 none repeat 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 0;
}

.detail__tablist-container li.active::before {
  width: 32px;
}

.detail__tablist-container li a {
  color: #303030;
  display: block;
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.detail__product-avg-ratting {
  margin-bottom: 20px;
}
.detail__product-avg-ratting > span {
  color: #909090;
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 10px;
}

.detail__product-avg-ratting h4{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 14px;
  margin: 0 0 7px;
}

.detail__product-avg-ratting h4 span{
  color: #909090;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 10px;
}

.detail__product-comment-box {
  margin-bottom: 40px;
}

.detail__product-comment-view {
  margin-bottom: 30px;
}

.detail__product-comment-view-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__product-comment-author span{
  color: #303030;
  font-weight: 600;
}

.detail__product-comment-time {
  display: flex;
}

.detail__product-comment-time span{
  color: #909090;
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 13px;
  margin-left: 15px;
}

.detail__comment-form-wrap-box h3{
  font-size: 1.4rem;
  margin: 0 0 30px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 12px;
}

.detail__comment-form-action {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.detail__comment-form-action label {
  color: #303030;
  display: block;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 10px;
  text-align: left;
}

.detail__comment-form-action input, .detail__comment-form-action textarea{
  background: #fff none repeat 0 0;
  border: 1px solid #eee;
  color: #909090;
  font-size: 1.2rem;
  font-weight: 300;
  height: 44px;
  padding: 5px 12px;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}

.detail__comment-form-action .input-name-box, .detail__comment-form-action .input-email-box {
  flex: 2;
}

.detail__comment-form-action .input-comment-box, .detail__comment-form-action .input-btnsubmit-box {
  width: 100%;
}

.detail__comment-form-action .input-comment-box textarea {
  min-height: 106px;
}

.detail__comment-form-action .input-btnsubmit-box button {
  background-color: #f05a66;
  border: 1px solid #eee;
  color: #606060;
  display: block;
  float: left;
  height: 37px;
  min-width: 40px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 20px;
}

.detail__suggested-products {
  background: white;
  padding: 90px 0;
}

.detail__suggested-products h1{
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 13px;
  text-align: center;
}

.detail__suggested-products h1::before {
  width: 64px;
  height: 1px;
  background: #dddddd;
  margin-left: -32px;
  bottom: 0px;
  left: 50%;
  content: "";
  position: absolute;
}

.detail__product-slider {
  padding: 0 15px;
}

.detail__product-item {
  width: 270px !important;
  height: 432px;
  margin-right: 35px;
}

.detail__wrap-item {
  height: 360px;
  position: relative;
}

.detail__wrap-item:hover a::before {
  opacity: 0.3;
}

.detail__wrap-item:hover .detail__view-detail {
  visibility: visible;
  opacity: 1;
}

.detail__wrap-item:hover .detail__item-action {
  transform: translateY(-100%);
  visibility: visible;
  opacity: 1;
}

.detail__item-image {
  height: 100%;
}

.detail__item-image a::before {
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #f05a66;
}

.detail__item-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail__wrap-item span {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #f05a66;
  text-transform: uppercase;
  line-height: 11px;
}

.detail__view-detail {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
}

.detail__view-detail i {
  font-size: 2.5rem;
  color: #fff;
}

.detail__view-detail:hover i {
  color: #f05a66;

}

.detail__item-action {
  padding: 0 0 1px 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  position: absolute;
  z-index: 2;
  right: 0;
}

.detail__item-action .detail__item-action-btn {
  background: #fff;
  border: 0.5px solid #ccc;
  color: #303030;
  display: block;
  float: left;
  height: 37px;
}


.detail__item-action .detail__item-action-btn.btn-icon {
  font-size: 2rem;
  line-height: 4rem;
  width: 25%;
}

.detail__item-action .detail__item-action-btn.btn-text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.5rem;
  text-transform: uppercase;
  width: 50%;
}

.detail__item-action .detail__item-action-btn:hover {
  background-color: #f05a66;
  color: #fff;
}

.detail__item-detail {
  height: 63px;
  z-index: 100;
  text-align: left;
}

.detail__item-title {
  display: block;
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
  margin: 20px 0 15px;

}

.detail__item-title:hover {
  color: #f05a66;
}

.detail__item-price span {
  color: #f05a66;
  line-height: 16px;
  display: block;
  font-weight: 600;
  float: left;
}

.detail__item-price.new {
  font-size: 1.8rem;
  margin-right: 11px;
}

.detail__item-price.old {
  font-size: 1.2rem;
  position: relative;
  padding: 0 5px 0 4px;
}

.detail__item-price.old::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #606060;
  top: 6px;
  left: 0;
  position: absolute;
}
/* detail slick */
.slick-slide {
  text-align: center;
}

.slick-btn {
  position: absolute;
  top: 45%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
}

.slick-btn:hover {
  color: black;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}
@media (max-width: 768px) {
  .detail__product-image, .detail__product-content {
    width: 100%;
    margin-bottom: 20px;
  }

  .detail__comment-form-action {
    gap: 0;
  }

  .detail__comment-form-action .input-name-box, .detail__comment-form-action .input-email-box {
    width: 100%;
    flex: unset;
  }
}
/* code css phần cart */
/* code css phần login */
/* code css phần register */
/* ---- end ---- *//*# sourceMappingURL=style.css.map */