<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="log__container">
        <form action="#" method="post" class="log__main">
            <div class="log__box">
                <label for="" class="log__title">user name</label> <br>
                <input type="text" name="name" id="" class="log__input">  
            </div>
            <div class="log__box">
                <label for="" class="log__title">password</label><br>
                <input type="password" name="pass" id="" class="log__input">
            </div>
            <input type="submit" value="Sign in" class="log__sub"><br>
            <a href="./register.html" class="log__a"><p>Register</p></a>
        </form>
    </div>
</body>
</html>