<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <title>Register</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="regis__container">
        <form action="#" method="post" class="regis__main">
            <div class="regis__box">
                <label for="" class="regis__title">email</label> <br>
                <input type="email" name="email" id="" class="regis__input">  
            </div>
            <div class="regis__box">
                <label for="" class="regis__title">user name</label> <br>
                <input type="text" name="name" id="" class="regis__input">  
            </div>
            <div class="regis__box">
                <label for="" class="regis__title">address</label> <br>
                <input type="text" name="address" id="" class="regis__input">  
            </div>
            <div class="regis__box">
                <label for="" class="regis__title">password</label><br>
                <input type="password" name="pass" id="" class="regis__input">
            </div>
            <input type="submit" value="Register" class="regis__sub"><br>
        </form>
    </div>
</body>
</html>